<div>
    <table class="table table-bordered">
        <tr><th>Date</th><th>Blodtrykk</th></tr>
        <tr *ngFor="let i of labData.rows">
            <td>{{i[0]}}</td>
            <td>{{i[1]}}/{{i[2]}}</td>
        </tr>
    </table>
</div>
<div>
    <a href="/journal">Refresh page</a>
</div>